a,abbr {text-decoration: none;}
a,button,input,mark,optgroup,select,textarea {
    background-color: transparent; 
    color: inherit;
}
abbr,button,fieldset,img,input,optgroup,select,textarea {border: none;}
article,aside,details,figure,footer,header,hgroup,img,legend,nav,main,section,summary,svg {display: block;}
audio,canvas,video {display:inline-block}
body,button,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,input,legend,li,ol,p,pre,td,th,ul,select,textarea {
    margin: 0;
    padding: 0;
}
button,input {line-height:normal}
button,input,optgroup,select,textarea {
    border-radius: 0;
    box-shadow: none;
    font: inherit;
    letter-spacing: inherit;
}
button,select {
    text-align: left;
    text-transform: none;
}
code,kbd,pre,samp {
    font-family: monospace, serif;
    font-size: 1em;
}
dfn {font-style: italic;}
hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible;
}
legend {white-space: normal;}
sub {bottom: -.25em;}
sup {top: -.5em;}
sub, sup {
    font-size: inherit;
    line-height: 0;    
    position: relative;
    vertical-align: baseline;
}
svg {
    height: 100%;    
    width: 100%;
}
table {border-collapse:collapse}
textarea {
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
}
.clear {
    clear:both;
    font-size:1px;
    height:0;
    line-height:0;
}